[Unit]
Description=Snapclient for Milo Client
After=network-online.target milo-client.service
Wants=network-online.target
Requires=milo-client.service

[Service]
Type=simple
User=milo-client
Group=audio
EnvironmentFile=/var/lib/milo-client/env

ExecStart=/usr/bin/snapclient -h ${MILO_PRINCIPAL_IP} -p 1704 --hostID %H --logsink=system --soundcard camilladsp_input --mixer software --player alsa:buffer_time=${MILO_SNAPCLIENT_BUFFER_TIME:-80},fragments=${MILO_SNAPCLIENT_FRAGMENTS:-4}

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
