[Unit]
Description=Milo Backend Service
Wants=NetworkManager.service network-online.target avahi-daemon.service
After=NetworkManager.service network-online.target avahi-daemon.service

[Service]
Type=simple
User=milo
Group=milo
WorkingDirectory=/home/milo/milo
Environment=MILO_LOG_LEVEL=INFO
ExecStart=/home/milo/milo/venv/bin/python3 backend/main.py

Restart=always
RestartSec=10
TimeoutStopSec=10

StateDirectory=milo
StateDirectoryMode=0755

StandardOutput=journal
StandardError=journal
MemoryMax=512M

[Install]
WantedBy=multi-user.target
