[Unit]
Description=Milo Sat API Service
After=network.target

[Service]
Type=simple
User=milo-sat
Group=audio
WorkingDirectory=/home/milo-sat/repo/milo-sat/app
ExecStart=/home/milo-sat/venv/bin/python3 main.py

Restart=always
RestartSec=5
TimeoutStopSec=10

EnvironmentFile=/var/lib/milo-sat/env

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
