:root {
    /* === COULEURS PRINCIPALES === */
    --color-brand: #ff6428;

    /* === COULEURS DE TEXTE === */
    --color-text: #171817;
    --color-text-secondary: #767b76;
    --color-text-light: #a6aca6;
    --color-text-contrast: #ffffff;
    --color-text-contrast-50: #ffffff80;

    /* === COULEURS DE FONDS === */
    --color-background: #f7f7f7;
    --color-background-strong: #f2f2f2;
    --color-background-neutral: #ffffff;
    --color-background-neutral-50: #ffffff80;
    --color-background-neutral-12: #ffffff1e;

    --color-background-contrast: #181d1e;
    --color-background-contrast-12: #181d1e1e;
    --color-background-contrast-32: #181d1e51;

    --color-background-medium-16: #77777728;
    --color-background-medium-32: #78787851;

    /* === BORDURES === */
    --color-border: #1718170a;

    /* === COULEURS SYSTÈME === */
    --color-success: #11aa3a;
    --color-warning: #ff9800;
    --color-error: #f44336;
    --color-info: #2196f3;

    /* === TRACÉS === */
    --stroke-glass: linear-gradient(190deg, rgba(255, 255, 255, .48) 0.43%, rgba(255, 255, 255, .06) 21.15%, rgba(255, 255, 255, .48) 47.85%, rgba(255, 255, 255, .06) 78.57%);



    /* === ESPACEMENT === */
    --space-01: 4px;
    --space-02: 8px;
    --space-03: 12px;
    --space-04: 16px;
    --space-05: 24px;
    --space-05-fixed: 24px;
    --space-06: 32px;
    --space-07: 48px;
    --space-08: 64px;
    --space-09: 96px;



    /* === STYLES DE TEXTE === */

    --font-size-d1: 30px;
    --font-size-h1: 26px;
    --font-size-h2: 22px;
    --font-size-body: 20px;
    --font-size-body-small: 18px;
    --font-size-mono: 16px;

    --letter-spacing-sans-serif: 1%;
    --letter-spacing-mono: -2%;

    --line-height-heading: 120%;
    --line-height-display: 120%;
    --line-height-body: 120%;
    --line-height-mono: 140%;



    /* === BORDER RADIUS === */
    --radius-01: 4px;
    --radius-02: 8px;
    --radius-03: 12px;
    --radius-04: 16px;
    --radius-05: 20px;
    --radius-06: 24px;
    --radius-07: 32px;
    --radius-08: 40px;
    --radius-full: 9999px;


    /* === SHADOWS === */
    --shadow-02: 0 8px 32px rgba(0, 0, 0, 0.04);

    /* === TRANSITIONS === */
    --transition-fast: 200ms ease;
    --transition-normal: 400ms ease;
    --transition-slow: 800ms ease;



    --transition-spring: 1.16s 
    linear(0, 0.0119, 0.0449, 0.0949, 0.158, 0.2307, 0.3097, 0.3923, 0.476, 0.5586, 0.6385, 0.7141, 0.7844, 0.8486, 0.9062, 0.9569, 1.0006, 1.0373, 1.0674, 1.0912, 1.1091, 1.1216, 1.1294, 1.1329, 1.1328, 1.1296, 1.1239, 1.1162, 1.107, 1.0968, 1.086, 1.0749, 1.0638, 1.053, 1.0426, 1.0329, 1.024, 1.0159, 1.0087, 1.0025, 0.9971, 0.9927, 0.9892, 0.9865, 0.9845, 0.9832, 0.9824, 0.9822, 0.9825, 0.9831, 0.984, 0.9852, 0.9865, 0.9879, 0.9893, 0.9908, 0.9923, 0.9937, 0.995, 0.9963, 0.9974, 0.9984, 0.9993, 1.0001, 1.0007, 1.0012, 1.0017, 1.002, 1.0022, 1.0023, 1.0024, 1.0024, 1.0023, 1.0022, 1.002, 1.0019, 1.0017, 1.0015, 1.0013, 1.0011, 1.0009, 1.0007, 1.0006, 1.0004, 1.0003, 1.0001, 1, 0.9999, 0.9999, 0.9998, 0.9998, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9997, 0.9998, 1);


    --transition-spring-slow: 1.4s 
    linear(0.000, 0.208 2.0%, 0.398 4.0%, 0.563 6.0%, 0.701 8.0%, 0.812 10.0%,
            0.898 12.0%, 0.960 14.0%, 1.004 16.0%, 1.032 18.0%, 1.049 20.0%,
            1.056 22.0%, 1.057 24.0%, 1.054 26.0%, 1.048 28.0%, 1.041 30.0%,
            1.033 32.0%, 1.026 34.0%, 1.020 36.0%, 1.014 38.0%, 1.009 40.0%,
            1.006 42.0%, 1.003 44.0%, 1.001 46.0%, 1.000 48.0%, 0.999 50.0%,
            0.998 52.0%, 0.998 54.0%, 0.998 56.0%, 0.998 58.0%, 0.998 60.0%,
            0.999 62.0%, 0.999 64.0%, 0.999 66.0%, 0.999 68.0%, 1.000 70.0%,
            1.000 72.0%, 1.000 74.0%, 1.000 76.0%, 1.000 78.0%, 1.000 80.0%,
            1.000 82.0%, 1.000 84.0%, 1.000 86.0%, 1.000 88.0%, 1.000 90.0%,
            1.000 92.0%, 1.000 94.0%, 1.000 96.0%, 1.000 98.0%, 1.000 100.0%);

    --transition-spring-ultra-slow: 1.16s
linear(0, 0.0082, 0.0306, 0.0643, 0.1069, 0.156, 0.2098, 0.2665, 0.3247, 0.3833, 0.4413, 0.4977, 0.5521, 0.604, 0.6529, 0.6986, 0.7409, 0.7799, 0.8154, 0.8475, 0.8763, 0.902, 0.9246, 0.9445, 0.9617, 0.9764, 0.9889, 0.9994, 1.008, 1.0149, 1.0204, 1.0246, 1.0277, 1.0297, 1.031, 1.0315, 1.0314, 1.0309, 1.0299, 1.0287, 1.0272, 1.0256, 1.0238, 1.022, 1.0201, 1.0183, 1.0165, 1.0148, 1.0131, 1.0115, 1.01, 1.0087, 1.0074, 1.0062, 1.0052, 1.0042, 1.0034, 1.0026, 1.002, 1.0014, 1.0009, 1.0005, 1.0001, 0.9998, 0.9996, 0.9994, 0.9993, 0.9992, 0.9991, 0.999, 0.999, 0.999, 0.999, 0.999, 0.9991, 0.9991, 0.9992, 0.9992, 0.9993, 0.9993, 0.9994, 0.9995, 0.9995, 0.9996, 0.9996, 0.9997, 0.9997, 0.9998, 0.9998, 0.9998, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1, 1, 1, 1, 1, 1);

    --transition-inout-expo: 500ms linear(0, 0.0006, 0.0006, 0.0007, 0.0009, 0.001, 0.0011, 0.0013, 0.0015, 0.0017, 0.002, 0.0022, 0.0026, 0.003, 0.0034, 0.0039, 0.0045, 0.0052, 0.0059, 0.0068, 0.0078, 0.009, 0.0103, 0.0118, 0.0136, 0.0156, 0.0179, 0.0206, 0.0237, 0.0272, 0.0313, 0.0359, 0.0412, 0.0474, 0.0544, 0.0625, 0.0718, 0.0825, 0.0947, 0.1088, 0.125, 0.1436, 0.1649, 0.1895, 0.2176, 0.25, 0.2872, 0.3299, 0.3789, 0.4353, 0.5, 0.5647, 0.6211, 0.6701, 0.7128, 0.75, 0.7824, 0.8105, 0.8351, 0.8564, 0.875, 0.8912, 0.9053, 0.9175, 0.9282, 0.9375, 0.9456, 0.9526, 0.9588, 0.9641, 0.9688, 0.9728, 0.9763, 0.9794, 0.9821, 0.9844, 0.9864, 0.9882, 0.9897, 0.991, 0.9922, 0.9932, 0.9941, 0.9948, 0.9955, 0.9961, 0.9966, 0.997, 0.9974, 0.9978, 0.998, 0.9983, 0.9985, 0.9987, 0.9989, 0.999, 0.9991, 0.9993, 0.9994, 0.9994, 1);

}







/* === RESPONSIVE - MOBILE === */
@media (max-aspect-ratio: 4/3) {
    :root {
        /* === ESPACEMENT (Mobile) === */
        --space-05: 16px;
        --space-06: 24px;
        --space-07: 32px;
        --space-08: 48px;
        --space-09: 64px;



        /* === STYLES DE TEXTE (Mobile) === */
        --font-size-d1: 24px;
        --font-size-h1: 22px;
        --font-size-h2: 20px;
        --font-size-body: 18px;
        --font-size-body-small: 16px;
        --font-size-mono: 14px;


    }
}



/* === FONT FACES === */

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Mono Regular';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

/* === CLASSES UTILITAIRES === */

.display-1 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-d1);
    line-height: var(--line-height-display);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.heading-1 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.heading-2 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-body {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-body-small {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-body-small);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-mono {
    font-family: 'Space Mono Regular';
    font-size: var(--font-size-mono);
    line-height: var(--line-height-mono);
    letter-spacing: var(--letter-spacing-mono);
    font-weight: 300;
}




.rounded-01 {
    border-radius: var(--radius-01);
}

.rounded-02 {
    border-radius: var(--radius-02);
}

.rounded-02 {
    border-radius: var(--radius-02);
}

.rounded-03 {
    border-radius: var(--radius-03);
}

.rounded-full {
    border-radius: var(--radius-full);
}

/* === ANIMATIONS === */

.fade-in {
    animation: fadeIn var(--transition-normal);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* === VUE TRANSITIONS === */

/* Fade + slide (pour MessageContent, grilles, etc.) */
.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.fade-slide-enter-from {
    opacity: 0;
    transform: translateY(var(--space-04));
}

.fade-slide-leave-to {
    opacity: 0;
    transform: translateY(calc(-1 * var(--space-04)));
}

/* Pour les éléments qui se superposent pendant la transition */
.fade-slide-leave-active {
    position: absolute;
    width: 100%;
}