:root {
    /* === COULEURS PRINCIPALES === */
    --color-brand: #FF6428;

    --color-text: #171917;
    --color-text-secondary: #767C76;
    --color-text-light: #A6ACA6;
    --color-text-contrast: #FFF;
    --color-text-contrast-50: #FFFFFF80;

    /* === COULEURS DE FONDS === */

    --color-background: #F7F7F7;
    --color-background-strong: #F2F2F2;
    --color-background-neutral: #FFFFFF;
    --color-background-neutral-64: #FFFFFFA3;
    --color-background-neutral-50: #FFFFFF80;
    --color-background-neutral-32: #FFFFFF52;
    --color-background-neutral-12: #FFFFFF1F;
    --color-background-contrast: #222825;
    --color-background-contrast-64: #222825A3;
    --color-background-glass: #78787829;
    --color-background-modal: #78787852;
    --color-background-radio: #E1DBCA;
    --color-border: #1618160a;



    /* === TRACÉS === */

    --stroke-glass: linear-gradient(190deg, rgba(255, 255, 255, .48) 0.43%, rgba(255, 255, 255, .06) 21.15%, rgba(255, 255, 255, .48) 47.85%, rgba(255, 255, 255, .06) 78.57%);


    /* === COULEURS SYSTÈME === */
    --color-success: #11AA3A;
    --color-warning: #FF9800;
    --color-error: #F44336;
    --color-info: #2196F3;



    /* === ESPACEMENT === */
    --space-01: 4px;
    --space-02: 8px;
    --space-03: 12px;
    --space-04: 16px;
    --space-05: 24px;
    --space-05-fixed: 24px;
    --space-06: 32px;
    --space-07: 48px;
    --space-08: 64px;
    --space-09: 96px;



    /* === STYLES DE TEXTE === */

    --font-size-d1: 30px;
    --font-size-h1: 26px;
    --font-size-h2: 22px;
    --font-size-body: 20px;
    --font-size-body-small: 18px;
    --font-size-mono: 16px;

    --letter-spacing-sans-serif: 1%;
    --letter-spacing-mono: -2%;

    --line-height-heading: 120%;
    --line-height-display: 120%;
    --line-height-body: 120%;
    --line-height-mono: 140%;



    /* === BORDER RADIUS === */
    --radius-01: 4px;
    --radius-02: 8px;
    --radius-03: 12px;
    --radius-04: 16px;
    --radius-05: 20px;
    --radius-06: 24px;
    --radius-07: 32px;
    --radius-08: 40px;
    --radius-full: 9999px;


    /* === SHADOWS === */
    --shadow-02: 0 8px 32px rgba(0, 0, 0, 0.04);

    /* === TRANSITIONS === */
    --transition-fast: 200ms ease;
    --transition-normal: 400ms ease;
    --transition-slow: 800ms ease;


    --transition-spring: 0.7s linear(0.000, 0.106 2.0%, 0.219 4.0%, 0.335 6.0%, 0.451 8.0%, 0.561 10.0%,
            0.665 12.0%, 0.760 14.0%, 0.845 16.0%, 0.919 18.0%, 0.982 20.0%,
            1.034 22.0%, 1.076 24.0%, 1.108 26.0%, 1.131 28.0%, 1.145 30.0%,
            1.153 32.0%, 1.155 34.0%, 1.152 36.0%, 1.144 38.0%, 1.134 40.0%,
            1.122 42.0%, 1.108 44.0%, 1.093 46.0%, 1.079 48.0%, 1.064 50.0%,
            1.051 52.0%, 1.038 54.0%, 1.026 56.0%, 1.016 58.0%, 1.007 60.0%,
            1.000 62.0%, 0.994 64.0%, 0.989 66.0%, 0.985 68.0%, 0.983 70.0%,
            0.981 72.0%, 0.981 74.0%, 0.981 76.0%, 0.981 78.0%, 0.982 80.0%,
            0.984 82.0%, 0.985 84.0%, 0.987 86.0%, 0.989 88.0%, 0.991 90.0%,
            0.992 92.0%, 0.994 94.0%, 0.996 96.0%, 0.997 98.0%, 0.998 100.0%);


    --transition-spring-soft: 1.4s linear(0.000, 0.208 2.0%, 0.398 4.0%, 0.563 6.0%, 0.701 8.0%, 0.812 10.0%,
            0.898 12.0%, 0.960 14.0%, 1.004 16.0%, 1.032 18.0%, 1.049 20.0%,
            1.056 22.0%, 1.057 24.0%, 1.054 26.0%, 1.048 28.0%, 1.041 30.0%,
            1.033 32.0%, 1.026 34.0%, 1.020 36.0%, 1.014 38.0%, 1.009 40.0%,
            1.006 42.0%, 1.003 44.0%, 1.001 46.0%, 1.000 48.0%, 0.999 50.0%,
            0.998 52.0%, 0.998 54.0%, 0.998 56.0%, 0.998 58.0%, 0.998 60.0%,
            0.999 62.0%, 0.999 64.0%, 0.999 66.0%, 0.999 68.0%, 1.000 70.0%,
            1.000 72.0%, 1.000 74.0%, 1.000 76.0%, 1.000 78.0%, 1.000 80.0%,
            1.000 82.0%, 1.000 84.0%, 1.000 86.0%, 1.000 88.0%, 1.000 90.0%,
            1.000 92.0%, 1.000 94.0%, 1.000 96.0%, 1.000 98.0%, 1.000 100.0%);

}


/* === RESPONSIVE - MOBILE === */
@media (max-aspect-ratio: 4/3) {
    :root {
        /* === ESPACEMENT (Mobile) === */
        --space-05: 16px;
        --space-06: 24px;
        --space-07: 32px;
        --space-08: 48px;
        --space-09: 64px;



        /* === STYLES DE TEXTE (Mobile) === */
        --font-size-d1: 24px;
        --font-size-h1: 22px;
        --font-size-h2: 20px;
        --font-size-body: 18px;
        --font-size-body-small: 16px;
        --font-size-mono: 14px;


    }
}



/* === FONT FACES === */

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Mono Regular';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

/* === CLASSES UTILITAIRES === */

.display-1 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-d1);
    line-height: var(--line-height-display);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.heading-1 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.heading-2 {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-body {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-body-small {
    font-family: 'Neue Montreal Medium';
    font-size: var(--font-size-body-small);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-sans-serif);
    font-weight: 500;
}

.text-mono {
    font-family: 'Space Mono Regular';
    font-size: var(--font-size-mono);
    line-height: var(--line-height-mono);
    letter-spacing: var(--letter-spacing-mono);
    font-weight: 300;
}




.rounded-01 {
    border-radius: var(--radius-01);
}

.rounded-02 {
    border-radius: var(--radius-02);
}

.rounded-02 {
    border-radius: var(--radius-02);
}

.rounded-03 {
    border-radius: var(--radius-03);
}

.rounded-full {
    border-radius: var(--radius-full);
}